@{
    ViewBag.Title = "All Properties";
}
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-9"></div>
        <div class="col-md-3 text-end">
            <div class="d-flex justify-content-end">
                <input type="text" id="searchInput" class="form-control" style="width: 250px;" placeholder="İlan Başlığına Göre Ara">
                <button class="btn btn-info ms-2 dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrele <img src="https://img.icons8.com/?size=16&id=3VVSgatd5o7W&format=png" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="filterDropdown">
                    <li><a class="dropdown-item filter-option" id="filterSale" data-type="Satılık">Satılık</a></li>
                    <li><a class="dropdown-item filter-option" id="filterRent" data-type="Kiralık">Kiralık</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <div class="row" id="propertyList"></div>
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center" id="paginationContainer"></ul>
    </nav>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            var allProperties = [];
            var imagesData = [];
            var currentPage = 1;
            var pageSize = 3;

            function getAllProperties() {
                $.when(
                    $.ajax({
                        url: ApiBaseUrl + "Properties",
                        method: "GET",
                        contentType: "application/json"
                    }),
                    $.ajax({
                        url: ApiBaseUrl + "Images",
                        method: "GET",
                        contentType: "application/json"
                    })
                ).done(function (propertiesResponse, imagesResponse) {
                    var propertiesData = propertiesResponse[0];
                    imagesData = imagesResponse[0];

                    var filteredPropertiesData = propertiesData.filter(function (item) {
                        return !item.isSold;
                    });

                    allProperties = filteredPropertiesData;

                    renderProperties(allProperties, imagesData, currentPage);
                    renderPagination(allProperties.length, currentPage, pageSize);
                }).fail(function () {
                    console.log("Error in fetching property data");
                });

            }

            function renderProperties(properties, images, page) {
                $("#propertyList").empty();
                var start = (page - 1) * pageSize;
                var end = start + pageSize;
                var pageProperties = properties.slice(start, end);
                var cards = '';

                $.each(pageProperties, function (i, property) {
                    var bg = property.isSold ? 'bg-success' : 'bg-danger';
                    var propertyID = property.id;
                    var relatedImages = images.filter(img => img.propertyID === propertyID);

                    if (relatedImages.length === 0) {
                        console.log(`No image found for property ID: ${propertyID}`);
                        return;
                    }

                    var card = `
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div id="carousel-${propertyID}" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                        `;

                    var imageRequests = relatedImages.map(function (image, j) {
                        var activeClass = j === 0 ? 'active' : '';
                        return $.ajax({
                            url: ApiBaseUrl + "Images/GetImage/" + image.photoUrl.split('\\').pop(),
                            method: "GET",
                            success: function (response) {
                                var imageBase64 = response.imageUrl;
                                card += `
                                        <div class="carousel-item ${activeClass}">
                                            <img src="${imageBase64}" class="card-img-top" alt="${property.title}">
                                        </div>
                                    `;
                            },
                            error: function (xhr, status, error) {
                                console.log("Error in fetching image: " + status + " - " + error);
                            }
                        });
                    });

                    $.when.apply($, imageRequests).done(function () {
                        var formattedPrice = property.price.toLocaleString('tr-TR');
                        card +=
                            `
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><strong><a href="/Home/PropertyDetails/${propertyID}" style=" text-decoration: none;color: inherit;">${property.title}</a></strong></h5>
                                        <strong><p class="card-text">Türü: </strong>${property.type}</p>
                                        <strong><p class="card-text">Metrekaresi: </strong>${property.squareMeters}</p>
                                        <strong><p class="card-text">Fiyatı: </strong>${formattedPrice} ₺</p>
                                        <strong><p class="card-text">Oda Sayısı: </strong>${property.roomCount}+1</p>
                                        <strong><p class="card-text">Konumu: </strong>${property.location}</p>
                                        <strong><p class="card-text">Kayıt Tarihi: </strong>${formatDate(property.created)}</p>
                                    </div>
                                </div>
                            </div>
                        `;
                        cards += card;
                        $("#propertyList").html(cards);
                    });
                });
            }

            function renderPagination(totalItems, currentPage, pageSize) {
                var totalPages = Math.ceil(totalItems / pageSize);
                var paginationHtml = '';

                for (var i = 1; i <= totalPages; i++) {
                    paginationHtml += `
                                <li class="page-item ${i === currentPage ? 'active' : ''}">
                                    <a class="page-link" href="#" onclick="changePage(${i})">${i}</a>
                                </li>
                            `;
                }

                $('#paginationContainer').html(paginationHtml);
            }

            window.changePage = function (page) {
                currentPage = page;
                renderProperties(allProperties, imagesData, page);
                renderPagination(allProperties.length, page, pageSize);
            }

            function formatDate(dateString) {
                if (!dateString) return '';
                var date = new Date(dateString);
                var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1);
                var year = date.getFullYear();
                var hour = date.getHours() > 9 ? date.getHours() : '0' + date.getHours();
                var minute = date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes();
                var second = date.getSeconds() > 9 ? date.getSeconds() : '0' + date.getSeconds();
                return day + "." + month + "." + year + " " + hour + ":" + minute + ":" + second;
            }

            $('.filter-option').on('click', function () {
                var isActive = $(this).hasClass('active');
                $('.filter-option').removeClass('active');
                if (!isActive) $(this).addClass('active');
                filterProperties();
            });

        $('#searchInput').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase();
            filterProperties(searchTerm);
        });

        function filterProperties(searchTerm = '') {
            var activeFilter = $('.filter-option.active').data('type');

            var filteredProperties = allProperties.filter(function (property) {
                var matchesFilter = activeFilter ? property.type === activeFilter : true;
                var matchesSearch = property.title.toLowerCase().includes(searchTerm);
                return matchesFilter && matchesSearch;
            });

            currentPage = 1;
            renderProperties(filteredProperties, imagesData, currentPage);
            renderPagination(filteredProperties.length, currentPage, pageSize);
        }

        getAllProperties();

    });


</script>
}
