<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmlakPortal.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmlakPortal.UI.styles.css" asp-append-version="true" />
    <link rel="icon" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AllListings">EmlakPortal.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllListings">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categories">Kategoriler</a>
                        </li>
                        <li class="nav-item MyListings">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyListings">İlanlarım</a>
                        </li>
                        </ul>
                    <ul class="navbar-nav flex-grow-2" style="margin-right:30px">
                        <li class="nav-item NotLogined">
                            <a class="nav-link text-dark" asp-action="SignUp">Kaydol</a>
                        </li>
                        <li class="nav-item NotLogined">
                            <a class="nav-link text-dark" asp-action="Login">Oturum Aç</a>
                        </li>
                        <li class="nav-item AdminCheck">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Admin Paneli</a>
                        </li>
                        <li class="nav-item Logined">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Profile" id="UserName"></a>
                        </li>
                        <li class="nav-item Logined">
                            <a class="nav-link text-dark" href="" id="Logout">Oturumu Kapat</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-white text-center text-lg-start" style="background-color: #494178;">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-2 mb-md-0">
                    <h5 class="text-uppercase mb-4">Emlak Portalı</h5>

                    <p class="mt-5">
                        EmlakPortal, hayalinizdeki evi veya araziyi bulmanıza yardımcı olan kapsamlı bir emlak platformudur.
                    </p>

                    <p class="mt-5">
                        Geniş portföyümüz, kullanıcı dostu arayüzümüz ve güvenilir hizmet anlayışımızla, en iyi gayrimenkul deneyimini sunmayı hedefliyoruz. Hemen katılın ve hayallerinizdeki mülke bir adım daha yaklaşın!
                    </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1">Bir Şeyler Ara</h5>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="formControlLg" class="form-control form-control-lg">
                        <label class="form-label" for="formControlLg" style="margin-left: 0px;"></label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 48.8px;"></div><div class="form-notch-trailing"></div></div>
                    </div>

                    <ul class="fa-ul" style="margin-left: 1.65em;" >
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Pınarbaşı Mah. Dumlupınar Bulvarı 07070 Kampüs Konyaaltı/Antalya/TÜRKİYE</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@example.com</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mt-4 mb-md-0">
                    <h5 class="text-uppercase">Çalışma Saatlerimiz</h5>

                    <table class="table text-center text-white">
                        <tbody class="font-weight-normal">
                            <tr>
                                <td>Hafta içi</td>
                                <td>08:00 - 20:00</td>
                            <tr>
                                <td>Hafta Sonu:</td>
                                <td>08:00 - 17:00</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Social media icons -->
                    <div class="mt-4">
                        <h5 class="text-uppercase mt-5">Sosyal Medya</h5>
                        <!-- Facebook -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
                        <!-- Instagram -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-instagram"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
                        <!-- Google Plus -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
    </footer>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
